@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: "Athiti", sans-serif;
    font-style: normal;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 20px;
}

nav img{
    width: 120px;
}

nav span{
    color: #f48fb1;
}

.box-navigation-bar .highlight{
    color: #f48fb1;
}

.box-navigation-bar a{
    color: #000000;
    font-size: 24px;
    margin-left: 30px;
    text-decoration: none;
}

.box-navigation-bar a:hover{
    color: #f48fb1;
}


